html{
  font-size: 20px;

  margin: 0;
  height: 100vh;
}

body {
   font-family: "Arial", "Meiryo", sans-serif;
   text-align: center
}

.blue {
   color: skyblue;
}
.pink {
   color: rgb(255, 192, 203);
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-size: 2em;
  letter-spacing: 1.2em; 
  text-shadow: 5px 5px #c0c0c0;
  border-bottom: 3px solid rgb(115, 115, 114);
}

#basic p {
   font-weight: bold;

}